# Ignore Gradle project-specific cache directory
.gradle
.html
.classpath
.project
.settings
.metadata

# Ignore Gradle build output directory
Outputs/*
Saves/*
SaveLoadTests/*
build/*
buildDir/*
/.DS_Store
/exampleemajor.musicxml.txt
